[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
gym = {version = "*", extras = ["all"]}
matplotlib = "*"
prettytable = "*"
tqdm = "*"
toolz = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.6"
